
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}



// Responsive Layout

.row {
    width: 100%;
    max-width: 62rem;
    margin: 0 auto;
}
.row:after {
    content: ' ';
    display: table;
    clear: both;
}

.column {
    float: left;
    box-sizing: border-box;
}

@media screen and (max-device-width: 768px)  { /*           MOBILE                 */ //43em
    /*  Structure  */

    .small-1 {
        width: 8.333%;
    }
    .small-2 {
        width: 16.666%;
    }
    .small-3 {
        width: 25%;
    }
    .small-4 {
        width: 33.333%;
    }
    .small-5 {
        width: 41.666%;
    }
    .small-6 {
        width: 50%;
    }
    .small-7 {
        width: 58.333%;
    }
    .small-8 {
        width: 66.666%;
    }
    .small-9 {
        width: 75%;
    }
    .small-10 {
        width: 83.333%;
    }
    .small-11 {
        width: 91.666%;
    }
    .small-12 {
        width: 100%;
    }
    .small-hidden {
        display: none;
    }

    // Styling

    #landingLogo {
      height: 50%;
      width: 50%;
    }
}

@media screen and (min-device-width: 768px) { /*           DESKTOP                 */ //43em

    .large-1 {
        width: 8.333%;
    }
    .large-2 {
        width: 16.666%;
    }
    .large-3 {
        width: 25%;
    }
    .large-4 {
        width: 33.333%;
    }
    .large-5 {
        width: 41.666%;
    }
    .large-6 {
        width: 50%;
    }
    .large-7 {
        width: 58.333%;
    }
    .large-8 {
        width: 66.666%;
    }
    .large-9 {
        width: 75%;
    }
    .large-10 {
        width: 83.333%;
    }
    .large-11 {
        width: 91.666%;
    }
    .large-12 {
        width: 100%;
    }
	.large-hidden {
        display: none;
    }
    .small-hidden {
        display: block;
    }

    /*  Styling  */

    #landingLogo {
      height: 15%;
      width: 15%;
    }
}

/*  General Styling  */

button {
  border: 2px solid #000;
  border-radius: 2.5%;
  padding: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0.5em;
}

button a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 2em;
}

#projexButton {
  background-color: #1995b6;         //#19A9D0
}

#ideasButton {
  background-color: #cb561d;        //#F16622
}

#samplesButton {
  background-color: #c33838;       //#EF4A4A
}

#loginButton {
  background-color: #5c7930;        //#779D3F
}
